@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Membros.DeleteModel

@{
    ViewData["Title"] = "Deletar membro";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style-type: none;
    }
</style>

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<h4 class="text-danger">Tem certeza que deseja deletar este membro?</h4>

<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    @{ await Html.RenderPartialAsync("_MembroDetalhesPartial", Model.MembroVM); }

    <form method="post">
        <input type="hidden" asp-for="MembroVM.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
