@page
@model AcquaJrApplication.EditModel
@using AcquaJrApplication.Models

@{
    ViewData["Title"] = "Editar membro";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MembroViewModel.Id" />
            <div class="form-group">
                <label asp-for="MembroViewModel.Nome" class="control-label"></label>
                <input asp-for="MembroViewModel.Nome" class="form-control" />
                <span asp-validation-for="MembroViewModel.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Cpf" class="control-label"></label>
                <input asp-for="MembroViewModel.Cpf" class="form-control" onkeypress="return ValidarInput(event)" />
                <span asp-validation-for="MembroViewModel.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.DataNascimento" class="control-label"></label>
                <input asp-for="MembroViewModel.DataNascimento" class="form-control" />
                <span asp-validation-for="MembroViewModel.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Logradouro" class="control-label"></label>
                <input asp-for="MembroViewModel.Logradouro" class="form-control" />
                <span asp-validation-for="MembroViewModel.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Bairro" class="control-label"></label>
                <input asp-for="MembroViewModel.Bairro" class="form-control" />
                <span asp-validation-for="MembroViewModel.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Cidade" class="control-label"></label>
                <input asp-for="MembroViewModel.Cidade" class="form-control" />
                <span asp-validation-for="MembroViewModel.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Estado" class="control-label"></label>
                <select asp-for="MembroViewModel.Estado" class="form-control">
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapá">Amapá</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceará">Ceará</option>
                    <option value="Distrito Federal">Distrito Federal</option>
                    <option value="Espírito Santo" selected>Espírito Santo</option>
                    <option value="Goiás">Goiás</option>
                    <option value="Maranhão">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Pará">Pará</option>
                    <option value="Paraíba">Paraíba</option>
                    <option value="Paraná">Paraná</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piauí">Piauí</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rondônia">Rondônia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                </select>
                <span asp-validation-for="MembroViewModel.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Email" class="control-label"></label>
                <input asp-for="MembroViewModel.Email" class="form-control" />
                <span asp-validation-for="MembroViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Telefone" class="control-label"></label>
                <input asp-for="MembroViewModel.Telefone" class="form-control" />
                <span asp-validation-for="MembroViewModel.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MembroViewModel.TemSeguro" /> @Html.DisplayNameFor(model => model.MembroViewModel.TemSeguro)
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MembroViewModel.TemCnh" /> @Html.DisplayNameFor(model => model.MembroViewModel.TemCnh)
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Curso" class="control-label"></label>
                <select asp-for="MembroViewModel.Curso" asp-items="Html.GetEnumSelectList<Curso>()" class="form-control">
                    <option value="" selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="MembroViewModel.Curso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.MatriculaAcademica" class="control-label"></label>
                <input asp-for="MembroViewModel.MatriculaAcademica" class="form-control" />
                <span asp-validation-for="MembroViewModel.MatriculaAcademica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.Cargo" class="control-label"></label>
                <select asp-for="MembroViewModel.Cargo" asp-items="Html.GetEnumSelectList<Cargo>()" class="form-control">
                    <option value="" selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="MembroViewModel.Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.DataEntrada" class="control-label"></label>
                <input asp-for="MembroViewModel.DataEntrada" class="form-control" />
                <span asp-validation-for="MembroViewModel.DataEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembroViewModel.DataSaida" class="control-label"></label>
                <input asp-for="MembroViewModel.DataSaida" class="form-control" />
                <span asp-validation-for="MembroViewModel.DataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/Membro.js"></script>