<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Ácqua Jr.</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=SegoeUI:300,400,500,700|SegoeUI+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/material.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="" asp-area="" asp-page="/Index">
                    <img src="~/imagens/ACJR - NOME FUNDO BRANCO.jpg" height="35" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-gray" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray" asp-area="" asp-page="/Privacy">A Acqua Jr.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray" asp-area="" asp-page="/Diretoria">Diretoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray" asp-area="" asp-page="/Servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray" asp-area="" asp-page="/Contato">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-gray text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Ácqua Jr. Application é um projeto desenvolvido e mantido por <a href="https://about.me/vctr.moraes" target="_blank" class="text-black-50">Victor Moraes</a>
        </div>
    </footer>
    
    <script src="~/lib/bootstrap/dist/js/material.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
