<div class="pull-right">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Membros</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Index">Ativos</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Dashboard">Inativos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes/Index">Ativos</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes">Inativos</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Projetos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Conta</a>
        </li>
    </ul>
</div>
