<div class="pull-right">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Membros</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Index">Ativos</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Inativos">Inativos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes/Index">Ativos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projetos</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Projetos/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Projetos/Index">Ativos</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Projetos/Concluidos">Concluídos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Servicos/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Servicos/Index">Ativos</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Servicos/Inativos">Inativos</a>
            </div>
        </li>
        @*<li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Eventos</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Eventos/Create">Cadastrar</a>
                <a class="dropdown-item" asp-area="Dashboard" asp-page="/Eventos/Index">Ativos</a>
            </div>
        </li>*@
        <li class="nav-item">
            <a class="btn btn-outline-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Conta</a>
        </li>
    </ul>
</div>

