@page
@model AcquaJrApplication.Areas.Dashboard.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h2>@ViewData["Title"]</h2>

<hr />

