@page
@model AcquaJrApplication.Areas.Dashboard.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h2>@ViewData["Title"]</h2>

<hr />

<div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 400px;">
    <div class="mt-auto bd-highlight">
        <a type="button" class="btn btn-float btn-warning my-1" href="mailto:victor.moraes@outlook.com.br" data-toggle="tooltip" data-placement="top" title="Reportar problema">
            <i class="material-icons">report_problem</i>
        </a>
    </div>
</div>
