@page
@model AcquaJrApplication.Areas.Dashboard.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <section>
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">add</i>
                        Cadastrar
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Dashboard" asp-page="/Membros/Create"><i class="material-icons">person</i>&nbsp; Membro</a>
                        <a class="dropdown-item" asp-area="Dashboard" asp-page="/Clientes/Create"><i class="material-icons">business_center</i>&nbsp; Cliente</a>
                        <a class="dropdown-item" asp-area="Dashboard" asp-page="/Projetos/Create"><i class="material-icons">square_foot</i>&nbsp; Projeto</a>
                        <a class="dropdown-item" asp-area="Dashboard" asp-page="/Servicos/Create"><i class="material-icons">assignment</i>&nbsp; Serviço</a>
                    </div>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Outro</a>
                </li>*@
            </ul>
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <div class="card">
                <div class="card-body">
                    <h6 class="typography-title">Projetos atuais</h6>
                </div>
                <div class="list-group list-group-flush" id="accordionTwo">
                    <div class="expansion-panel list-group-item">
                        <a aria-controls="collapseFour" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseFour" id="headingFour">
                            Connected expansion panel item #1
                            <div class="expansion-panel-icon ml-3 text-black-secondary">
                                <span class="badge badge-danger badge-pill">Atrasado</span>
                                <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                            </div>
                        </a>
                        <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionTwo" id="collapseFour">
                            <div class="expansion-panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="expansion-panel list-group-item">
                        <a aria-controls="collapseFive" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseFive" id="headingFive">
                            Connected expansion panel item #2
                            <div class="expansion-panel-icon ml-3 text-black-secondary">
                                <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                            </div>
                        </a>
                        <div aria-labelledby="headingFive" class="collapse" data-parent="#accordionTwo" id="collapseFive">
                            <div class="expansion-panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="expansion-panel list-group-item">
                        <a aria-controls="collapseSix" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseSix" id="headingSix">
                            Connected expansion panel item #3
                            <div class="expansion-panel-icon ml-3 text-black-secondary">
                                <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                            </div>
                        </a>
                        <div aria-labelledby="headingSix" class="collapse" data-parent="#accordionTwo" id="collapseSix">
                            <div class="expansion-panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
