@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Eventos.CreateModel

@{
    ViewData["Title"] = "Novo evento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<hr />
<partial name="~/Pages/Components/Summary/_ValidationSummaryAllPartial.cshtml" />

<div class="">
    <div class="">
        @{ await Html.RenderPartialAsync("_EventoFormPartial.cshtml", Model.EventoVM); }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Evento.js"></script>
}
