@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Clientes.DeleteModel

@{
    ViewData["Title"] = "Deletar cliente";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<h4 class="text-danger">Tem certeza que deseja deletar este cliente?</h4>
<div>
    <hr />
    @{ await Html.RenderPartialAsync("_ClienteDetalhesPartial", Model.ClienteVM); }
    <form method="post">
        <input type="hidden" asp-for="ClienteVM.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
