@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Clientes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ClienteViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteViewModel.Id" />
            <div class="form-group">
                <label asp-for="ClienteViewModel.TipoPessoa" class="control-label"></label>
                <select asp-for="ClienteViewModel.TipoPessoa" class="form-control"></select>
                <span asp-validation-for="ClienteViewModel.TipoPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.NomeFantasia" class="control-label"></label>
                <input asp-for="ClienteViewModel.NomeFantasia" class="form-control" />
                <span asp-validation-for="ClienteViewModel.NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.RazaoSocial" class="control-label"></label>
                <input asp-for="ClienteViewModel.RazaoSocial" class="form-control" />
                <span asp-validation-for="ClienteViewModel.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cpf" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cpf" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cnpj" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cnpj" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.InscricaoEstadual" class="control-label"></label>
                <input asp-for="ClienteViewModel.InscricaoEstadual" class="form-control" />
                <span asp-validation-for="ClienteViewModel.InscricaoEstadual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.RgCtps" class="control-label"></label>
                <input asp-for="ClienteViewModel.RgCtps" class="form-control" />
                <span asp-validation-for="ClienteViewModel.RgCtps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Logradouro" class="control-label"></label>
                <input asp-for="ClienteViewModel.Logradouro" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.PontoReferencia" class="control-label"></label>
                <input asp-for="ClienteViewModel.PontoReferencia" class="form-control" />
                <span asp-validation-for="ClienteViewModel.PontoReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Bairro" class="control-label"></label>
                <input asp-for="ClienteViewModel.Bairro" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cidade" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cidade" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Cep" class="control-label"></label>
                <input asp-for="ClienteViewModel.Cep" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Estado" class="control-label"></label>
                <input asp-for="ClienteViewModel.Estado" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Email" class="control-label"></label>
                <input asp-for="ClienteViewModel.Email" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Telefone1" class="control-label"></label>
                <input asp-for="ClienteViewModel.Telefone1" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Telefone2" class="control-label"></label>
                <input asp-for="ClienteViewModel.Telefone2" class="form-control" />
                <span asp-validation-for="ClienteViewModel.Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.Observacoes" class="control-label"></label>
                <textarea asp-for="ClienteViewModel.Observacoes" class="form-control"></textarea>
                <span asp-validation-for="ClienteViewModel.Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteViewModel.DataCadastro" class="control-label"></label>
                <input asp-for="ClienteViewModel.DataCadastro" class="form-control" />
                <span asp-validation-for="ClienteViewModel.DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
