@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="pull-right">
    <nav class="nav">
        <a class="nav-link" href="/Dashboard/Dashboard">Dashboard</a>
        <a class="nav-link" href="/Identity/Account/Manage">Conta</a>
    </nav>
</div>

<h2>Sua conta</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
