@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Excluir dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">warning</i>
            <strong>A exclusão desses dados removerá permanentemente sua conta e não poderá ser recuperada.</strong>
        </div>
    </div>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
    <button class="btn btn-danger" type="submit">Excluir dados e fechar minha conta</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
