@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Projetos.CreateModel
@using AcquaJrApplication.Models

@{
    ViewData["Title"] = "Novo projeto";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        @{ await Html.RenderPartialAsync("_ProjetoFormPartial", Model.ProjetoVM); }
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".orcamento").on("keyup", function () {
            if ($(this).attr("name") === "Orcamento") {
                return false;
            }

            var CustoMaoDeObra = $("#custo-mao-obra").val() == "" ? 0 : parseFloat($("#custo-mao-obra").val());
            var CustoProjeto = $("#custo-projeto").val() == "" ? 0 : parseFloat($("#custo-projeto").val());
            var CustoInsumos = $("#custo-insumos").val() == "" ? 0 : parseFloat($("#custo-insumos").val());
            $("#orcamento").val(parseFloat(CustoMaoDeObra) + parseFloat(CustoProjeto) + parseFloat(CustoInsumos));
        });

        $('.cep').mask('00000-000');

        $(".limpar-modal-endereco").on("click", function () {
            $("#input-logradouro").val("");
            $("#input-ponto-referencia").val("");
            $("#input-bairro").val("");
            $("#input-cidade").val("");
            $("#input-cep").val("");
            $("#input-estado").val("");
        });

        $(".limpar-modal-orcamento").on("click", function () {
            $("#custo-mao-obra").val("");
            $("#custo-projeto").val("");
            $("#custo-insumos").val("");
            $("#orcamento").val("");
        });
    </script>
}
