@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Projetos.DeleteModel

@{
    ViewData["Title"] = "Deletar projeto";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<h4 class="text-danger">Tem certeza que deseja deletar este projeto?</h4>

<div>
    <hr />
    <partial name="~/Pages/Components/Summary/_ValidationSummaryModelOnlyPartial.cshtml" />

    @{ await Html.RenderPartialAsync("_ProjetoDetalhesPartial.cshtml", Model.ProjetoVM); }

    <form method="post">
        <input type="hidden" asp-for="ProjetoVM.Id" />
        <a class="btn btn-dark" asp-page="./Index">
            <i class="material-icons">arrow_back</i>
            Voltar
        </a>
        <button type="submit" value="Deletar" class="btn btn-danger">
            <i class="material-icons">delete_forever</i>
            Deletar
        </button>
    </form>
</div>
