@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Projetos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    @{ await Html.RenderPartialAsync("_ProjetoDetalhesPartial.cshtml", Model.ProjetoVM); }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjetoVM.Id">Editar</a> |
    <a href="javascript:window.history.back();">Voltar</a>
</div>
