@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.DeleteModel

@{
    ViewData["Title"] = "Deletar serviço";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    ul { list-style-type: none; }
</style>

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<h4 class="text-danger">Tem certeza que deseja deletar este serviço?</h4>

<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    @{ await Html.RenderPartialAsync("_ServicoDetalhesPartial", Model.ServicoVM); }

    <form method="post">
        <input type="hidden" asp-for="ServicoVM.Id" />
        <a class="btn btn-dark" asp-page="./Index">
            <i class="material-icons">arrow_back</i>
            Voltar
        </a>
        <button type="submit" value="Deletar" class="btn btn-danger">
            <i class="material-icons">delete_forever</i>
            Deletar
        </button>
    </form>
</div>
