@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    @{ await Html.RenderPartialAsync("_ServicoDetalhesPartial", Model.ServicoVM); }
</div>
<div>
    <a class="btn btn-dark" href="javascript:window.history.back();">
        <i class="material-icons">arrow_back</i>
        Voltar
    </a>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.ServicoVM.Id">
        <i class="material-icons">edit</i>
        Editar
    </a>
</div>
