@page "/servicos/editar-servico"
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.EditModel

@{
    ViewData["Title"] = "Editar serviço";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<hr />
<partial name="~/Pages/Components/Summary/_ValidationSummaryAllPartial.cshtml" />

@{ await Html.RenderPartialAsync("_ServicoFormPartial", Model.ServicoVM); }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
