@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.EditModel

@{
    ViewData["Title"] = "Editar serviço";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<hr />
<partial name="~/Pages/Components/Summary/_ValidationSummaryAllPartial.cshtml" />

<div class="row">
    <div class="col-md-4">
        @{ await Html.RenderPartialAsync("_ServicoFormPartial", Model.ServicoVM); }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
