@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.EditModel
@using AcquaJrApplication.Models

@{
    ViewData["Title"] = "Editar serviço";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        @{ await Html.RenderPartialAsync("_ServicoFormPartial", Model.ServicoVM); }
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
