@page
@model ForgotPasswordModel

<style>
    .content{
        width: 100%;
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row content">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="textfield-box">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    <a id="forgot-password" class="card-link" asp-page="./Login">Voltar ao login</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
