@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperação da conta";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-info">
    <i class="material-icons">build</i>
    Desculpe, este serviço ainda não está disponível.
</div>

<a asp-page="./Login">Voltar à página de login</a>
