@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "";
}

<h2>@ViewData["Title"]</h2>

<div class="vertical-center justify-content-center">
    <h4 class="text-black-hint" align="center">Desculpe, este serviço ainda não está disponível.</h4>
</div>
<p class="justify-content-center" style="min-height: 0%; min-height: 0vh; display: flex; align-items: center;">
    <a asp-page="./Login">Voltar ao login</a>
</p>
