@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Sua conta foi bloqueada, por favor, tente novamente mais tarde.</p>
</header>
