@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do cadastro";
}

<h2>@ViewData["Title"]</h2>
<hr />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="vertical-center justify-content-center">
            <a class="btn btn-success" id="confirm-link" href="@Model.EmailConfirmationUrl">
                <i class="material-icons">done</i>
                Clique para confirmar sua conta
            </a>
        </p>
    }
    else
    {
        <p>
            Por favor, verifique seu e-mail para confirmar sua conta.
        </p>
    }
}
