@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi alterada. Por favor, <a asp-page="./Login">clique aqui para fazer login</a>.
</p>
