@page
@model ContatoModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <section>
            <h3 class="text-info">
                <i class="material-icons" style="font-size: 50px;">chat</i>
                Entre em contato conosco
            </h3>
            <hr />
            <p>
                Rodovia 482, Cachoeiro x Alegre, km 47, Rive, Alegre
            </p>
            <p>
                Espírito Santo, Caixa Postal: 47, CEP 29520-000
            </p>
            <p>
                Telefone: (28) 3552-1234
            </p>
            <p>
                E-mail: <a href="mailto:jr.acqua@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Enviar um e-mail">jr.acqua@gmail.com</a>
            </p>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 class="text-info">
                <i class="material-icons" style="font-size: 50px;">monetization_on</i>
                Solicite um orçamento
            </h3>
            <hr />
            <p>
                Entre em contato conosco ou faça-nos uma visita. Conheça nossos produtos e serviços e solicite um orçamento.
                Nossos técnicos irão prontamente atendê-lo.
            </p>
        </section>
    </div>
</div>
