@page
@model ContatoModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <section>
            <div class="icon icon-primary">
                <i class="material-icons" style="font-size: 50px;">chat</i>
            </div>
            <h3 class="text-primary">Entre em contato conosco</h3>
            <hr />
            <p>
                Fazenda Caixa D'água, Distrito de Rive, Alegre
            </p>
            <p>
                Espírito Santo, CEP 29520-000
            </p>
            <p>
                Telefone: (28) 3552-1234
            </p>
            <p>
                E-mail: contato@acquajr.com.br
            </p>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <div class="icon icon-primary">
                <i class="material-icons" style="font-size: 50px;">monetization_on</i>
            </div>
            <h3 class="text-primary">Solicite um orçamento</h3>
            <hr />
            <p>
                Entre em contato conosco ou faça-nos uma visita. Conheça nossos produtos e serviços e solicite um orçamento.
                Nossos técnicos irão prontamente atendê-lo.
            </p>
        </section>
    </div>
</div>