@page
@model DiretoriaModel
@{
    ViewData["Title"] = "Diretoria";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Venam da Silva Machado
            </div>
            <div class="card-body">
                <h4>Presidente</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Thiago de Oliveira Rodrigues
            </div>
            <div class="card-body">
                <h4>Vice Presidente</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Gilberto Augusto dos Santos
            </div>
            <div class="card-body">
                <h4>Diretor Financeiro</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Rafael Ferreira de Souza
            </div>
            <div class="card-body">
                <h4>Diretor Administrativo</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                José da Silva Fernandes
            </div>
            <div class="card-body">
                <h4>Diretor de Projetos</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Maria Pereira dos Santos
            </div>
            <div class="card-body">
                <h4>Dir. de Mkt. e Relações Públicas</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Maria Pereira dos Santos
            </div>
            <div class="card-body">
                <h4>Diretor de Extensão</h4>
            </div>
        </div>
    </div>
</div>
