@page
@model DiretoriaModel
@{
    ViewData["Title"] = "Diretoria";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                Venam da Silva Machado
            </div>
            <div class="card-body">
                <h4 class="card-title">Diretor-presidente</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                Thiago de Oliveira Rodrigues
            </div>
            <div class="card-body">
                <h4 class="card-title">Diretor-financeiro</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                Gilberto Augusto dos Santos
            </div>
            <div class="card-body">
                <h4 class="card-title">Diretor de projetos</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                Rafael Ferreira de Souza
            </div>
            <div class="card-body">
                <h4 class="card-title">Diretor de marketing</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                José da Silva Fernandes
            </div>
            <div class="card-body">
                <h4 class="card-title">Conselheiro fiscal</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-nav-tabs">
            <div class="card-header">
                Maria Pereira dos Santos
            </div>
            <div class="card-body">
                <h4 class="card-title">Conselheiro fiscal</h4>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                @*<a href="javascript:;" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
</div>

