@page
@model DiretoriaModel
@{
    ViewData["Title"] = "Diretoria";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Venam Vieira dos Anjos
            </div>
            <div class="card-body">
                <h4>Presidente</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Tiago Oliveira de Aguilar
            </div>
            <div class="card-body">
                <h4>Vice Presidente</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Gilberto Rodrigues dos Santos
            </div>
            <div class="card-body">
                <h4>Diretor Administrativo</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                João Victor Nascimento Tardim
            </div>
            <div class="card-body">
                <h4>Diretor de Projetos</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Pablo Nazaré de Oliveira Santos
            </div>
            <div class="card-body">
                <h4>Diretor Financeiro</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Rafael Vieira da Silva
            </div>
            <div class="card-body">
                <h4>Dir. de Mkt. e Relações Públicas</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Giovanni Xavier Onofre
            </div>
            <div class="card-body">
                <h4>Diretor de Extensão Rural</h4>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light mb-3 shadow-4">
            <div class="card-header">
                Bruno de Lima Preto
            </div>
            <div class="card-body">
                <h4>Coordenador</h4>
            </div>
        </div>
    </div>
</div>
