@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/imagens/ACJR - LOGOO FUNDO BRANCO.jpg" height="200" />
    <br /><br />
    <div class="row">
        <div class="col-md-4 text-left">
            <img src="~/imagens/ImagemIndex1.jpg" class="img-fluid img-thumbnail" width="350" /><br /><br />
            <p class="text-left typography-headline">Desenvolvimento econômico</p>
            <p class="text-left typography-body-2">
                A Acqua Júnior trabalha para que a produção aquícola da região se desenvolva, gerando emprego e renda para a população beneficiada direta e indiretamente pela atuação da empresa.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/imagens/ImagemIndex2.jpg" class="img-fluid img-thumbnail" width="350" /><br /><br />
            <p class="text-left typography-headline">Melhor renda familiar</p>
            <p class="text-left typography-body-2">
                Nossa atuação junto a pequenos produtores e empresas familiares, por meio de treinamento e consultoria, eleva o nível de qualidade da produção dos pescados, melhorando a renda das famílias.
            </p>
        </div>
        <div class="col-md-4 text-right">
            <img src="~/imagens/ImagemIndex3.jpg" class="img-fluid img-thumbnail" width="350" /><br /><br />
            <p class="text-left typography-headline">Aquicultura sustentável</p>
            <p class="text-left typography-body-2">
                Trabalhamos seguindo padrões técnicos que visam à prática sustentável da aquicultura, favorecendo a preservação ambiental e a segurança dos técnicos e trabalhadores do ramo.
            </p>
        </div>
    </div>
</div>
