@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ácqua Jr.</h1>
    <p>Projeto em desenvolvimento. Leia sobre este projeto no GitHub clicando <a href="https://github.com/vctr-moraes/AcquaJrApplication" target="_blank">aqui</a>.</p>
</div>
