@page
@model PrivacyModel
@{
    ViewData["Title"] = "A Ácqua Jr.";
}
<h2>@ViewData["Title"]</h2>

<hr />

<blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Venam José da Silva - <cite title="Source Title">Presidente</cite></footer>
</blockquote>
