@page
@model ServicosModel
@{
    ViewData["Title"] = "Serviços";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Consultoria Técnica</h4>
                <p class="card-text">
                    Atividade profissional de diagnóstico e formulação de soluções para produtores aquícolas.
                </p>
                <a href="javascript:;" class="btn btn-outline-primary" title="Entrar em contato">Contratar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Visita Técnica</h4>
                <p class="card-text">
                    Tem por objetivo promover a integração entre o produtor e a  Acqua Jr com um diagnóstico inicial para produtores aquícolas.
                </p>
                <a href="javascript:;" class="btn btn-outline-primary" title="Entrar em contato">Contratar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Assistência Técnica</h4>
                <p class="card-text">
                    Atividade que visa realizar acompanhamento periódico aos produtores, prestando todo o suporte técnico necessário para a produção aquícola.
                </p>
                <a href="javascript:;" class="btn btn-outline-primary" title="Entrar em contato">Contratar</a>
            </div>
        </div>
    </div>
</div>
