@page
@model ServicosModel
@{
    ViewData["Title"] = "Serviços";
}
<h2>@ViewData["Title"]</h2>

<hr />

<div class="d-flex justify-content-between">
    <div class="">
        <div class="card shadow-6" style="width: 20rem;">
            <img src="~/imagens/002.jpg" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Consultoria Técnica</h5>
                <p class="card-text">Atividade profissional de diagnóstico e formulação de soluções para produtores aquícolas.</p>
                <a href="mailto:jr.acqua@gmail.com" class="btn btn-primary">Contratar</a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card shadow-6" style="width: 20rem;">
            <img src="~/imagens/001.jpg" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Visita Técnica</h5>
                <p class="card-text">Tem por objetivo promover a integração entre o produtor e a  Acqua Jr com um diagnóstico inicial para produtores aquícolas.</p>
                <a href="mailto:jr.acqua@gmail.com" class="btn btn-primary">Contratar</a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card shadow-6" style="width: 20rem;">
            <img src="~/imagens/003.jpg" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Assistência Técnica</h5>
                <p class="card-text">Acompanhamento periódico aos produtores, prestando todo o suporte técnico necessário para a produção aquícola.</p>
                <a href="mailto:jr.acqua@gmail.com" class="btn btn-primary">Contratar</a>
            </div>
        </div>
    </div>
</div>
