@page "/sobre"
@model SobreModel
@{
    ViewData["Title"] = "A Acqua Jr.";
}

<style>
    .paragrafo {
        font-size: medium;
        text-align: justify;
    }
</style>

<h2>@ViewData["Title"]</h2>

<hr />

<p class="paragrafo">
    A Acqua Júnior foi constituída em 10 de novembro de 2016 pelos alunos do curso de Engenharia de Aquicultura do Instituto Federal do
    Espírito Santo – Campus de Alegre. A empresa é uma associação civil, sem fins lucrativos, formada e gerida por alunos do curso superior
    de Engenharia de Aquicultura, cujo os principais objetivos, são: fomento ao aprendizado prático do estudante na área da aquicultura;
    aproximação com o mercado de trabalho, além de uma gestão autônoma, coordenada por um professor responsável.
</p>

<p class="paragrafo">
    Com a elaboração de projetos de consultoria na área de formação dos alunos, a Acqua Jr. contempla as necessidades de três públicos principais:
</p>

<p class="paragrafo">
    <strong>Os estudantes:</strong> que se utilizam da interação entre os membros da empresa e da troca de conhecimento e experiências para
    se desenvolverem, pessoal, profissional e academicamente;
</p>

<p class="paragrafo">
    <strong>A sociedade:</strong> que se beneficia dos projetos desenvolvidos pelos alunos, cuja as características são a qualidade dos
    trabalhos, a garantida da orientação dos professores, e o baixo investimento, uma vez que as empresas juniores não visam ao lucro.
    Assim, as empresas conseguem bons projetos a um baixo custo;
</p>

<p class="paragrafo">
    <strong>O IFES:</strong> que é favorecido pelo retorno em imagem institucional, garantido pela divulgação que as Empresas Juniores
    necessariamente fazem ao seu nome. As Instituições de Ensino Superior que investem nas Empresas Juniores têm o retorno de imagem e
    também um retorno no que diz respeito à atração de novas parcerias, alunos e clientes (no caso de prestação de consultorias e outros projetos).
</p>

<p class="paragrafo">
    Basicamente, os alunos que participam da Acqua Jr.  têm como rotina a elaboração de   ensaios práticos apoiados em uma visão acadêmica,
    o que lhes proporciona um considerável e importante diferencial competitivo entre aqueles que almejam prosperar profissionalmente.

    São desenvolvidos projetos de consultoria, estratégias de gestão e marketing, bem como documentos de estudos e pesquisas sobre o mercado
    de atuação. Oportuniza-se o desenvolvimento de habilidades em gerenciamento de projetos, liderança de equipes, gerenciamento de departamentos, geração de networking com profissionais da área de interesse.

    Muitos destes trabalhos são orientados e auxiliados por professores do Ifes. Na Acqua Jr. os alunos podem exercitar seu lado empreendedor
    e pesquisador, trabalhando fortemente na geração de novas ideias, contribuindo para a resolução de problemas e necessidades da sociedade.
</p>
