@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 6px;"></div>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <div style="padding-top: 0px; margin-bottom: -15px;" asp-validation-summary="ModelOnly"></div>
    </div>
}
